#modal-hedder {
  margin: 10px 0px 30px 10px;
  #modal-title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  #modal-message {
    text-align: center;
    font-size: 15px;
  }
} 


.btn_area {
  text-align: center;
  margin: 20px 20px 20px 0px;
  .btn {
    justify-content: center;
    height: 40px;
  }
}