
.service-contents {
  margin-top: 2%;
  margin-left: 5%;
}


.table_area {
  background-color: #fff;
  border: #000;
  th {
    position: sticky;
    background: #f2f2f2;
    top: 0;
    left: 0;
  }
  .table2 {
    height: 450px;
    overflow: hidden;
    overflow-y: auto;
  }


  .item_title_head {
    width: 100px;
    text-align: center;
    padding: 20px 0px 0px 20px;    
  }


  .item_title {
    width: 100px;
    cursor:pointer;
    color: blue;
    text-align: center;
    padding: 20px 0px 0px 20px;
  }

  .item_relation {
    width: 150px;
    text-align: center;
    padding: 20px 0px 0px 20px;
  }

  .item_admin {
    width: 120px;
    text-align: center;
    padding: 20px 0px 0px 20px;
  }

  .item_scheduled {
    width: 120px;
    text-align: center;
    padding: 20px 0px 0px 20px;
  }

  .item_status {
    width: 200px;
    text-align: center;
    padding: 20px 0px 0px 20px;
  }


}


.item-list-heder {
  display: flex;
  height: 2em;
  text-align: center;
  font-size: 1.5em;


  .heder-title {
    border: 1px solid #000;
    width: 200px;
    background-color: #97cdf3;
    padding-top: 0.6em;
  }

  .heder-price {
    border: 1px solid #000;
    width: 150px;
    background-color: #97cdf3;
    padding-top: 0.6em;
  }

  .heder-whet {
    border: 1px solid #000;
    width: 120px;
    background-color: #97cdf3;
    padding-top: 0.6em;
  }

  .heder-endDate {
    border: 1px solid #000;
    width: 120px;
    background-color: #97cdf3;
    padding-top: 0.6em;
  }

  .heder-status {
    border: 1px solid #000;
    width: 200px;
    background-color: #97cdf3;
    padding-top: 0.6em;
  }
}

.delete-btn {
  margin-top: 5vh;
  margin-left: 7vh;
}

.loading {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
