<div class="container">
  <!-- <div class="row"> -->
  <!-- <div class="col-1"></div> -->

  <!-- <div class="col-6">
      <div *ngIf="!authUserDiv else elseContent"> -->
  <!-- ログイン前 -->
  <!-- <div class="user_resister">
          <div class="menu_item item" (click)="onSinup()">新規登録</div>
          <div class="menu_item item" (click)="onLogin()">ログイン</div>
        </div>
      </div> -->

  <!-- <ng-template #elseContent> -->
  <!-- ログイン後 -->
  <!-- <div *ngIf="temporaryUserDiv else temporaryContent">

          <div class="user_resister">
            <div>
              <div class="menu_item item" (click)="onUserResister()">ユーザー登録</div>
              <p>ユーザー登録が未完了です。登録をしてください。</p>
            </div>
            <div class="menu_item item" (click)="onLogout()">ログアウト</div>
          </div>
        </div>
        <ng-template #temporaryContent>
          <div class="user_resister">
            <div class="menu_item item" (click)="onMypage()">マイページ</div>
            <div class="menu_item item" (click)="onLogout()">ログアウト</div>
          </div>
        </ng-template>
      </ng-template>
    </div> -->
  <div class="select_menu">
    <div class="menu_item item" (click)="serviceSerchConditions()">サービスを探す</div>

    <!-- <div class="menu_item item" (click)="serviceReqest()">カーユーザーとして作業を依頼する</div> -->
    <div class="menu_item item" (click)="serviceExhibit()">サービスを依頼・出品する</div>

    <!-- <ng-template ngIf="temporaryUserDiv"> -->
    <div *ngIf="temporaryUserDiv" class="menu_item item" (click)="serviceDealings()">取引中の情報</div>
    <!-- </ng-template> -->

  </div>

</div>
<!-- </div> -->

<hr class="line" noshade="">

<div class="image-area">
  <img src="assets/images/img1.png" alt="image1">
</div>