body {
  height: 70%;
}
footer {
  height: 30%;
}

.menu {
  margin-top: 5px;
  display: flex;
  width: 1200px;
  p {
    margin-left: 150px;
  }
  .select_menu {
    margin-left: 100px;
    display: flex;
    justify-content: space-around;
    .menu_item {
      margin-left: 50px;
    }
  }
  .select_mc_menu {
    margin-left: 30px;
    display: flex;
    justify-content: space-around;
    .menu_item {
      margin-left: 50px;
    }
  }


}



.image-area {
  width: 1000px;
  margin: 0 auto;
  background-color: lightgray;
}

.line {
  size: 10;
}

.containar {
  display: flex;
  justify-content: flex-start;
  height:40vh;
  width:100%;
}


.item {
  margin-top: 15px;
  font-size: large;
}

.user_resister {
  display: flex;
}

.item:hover {
  text-decoration:underline;
}


