<div class="container">
  <div class="menu_area">
    <div *ngIf="!menuLoadingDiv">
      <div class="menu">
        <p>ユーザーメニュー</p>
        <div class="select_menu">
          <div class="menu_item item" (click)="serviceSerchConditions()">サービスを探す</div>
          <div *ngIf="temporaryUserDiv" class="menu_item item" (click)="serviceExhibit('0')">お車の作業依頼する</div>
          <div *ngIf="temporaryUserDiv" class="menu_item item" (click)="serviceDealings()">取引中の情報</div>
        </div>
      </div>

      <div *ngIf="mechanicDiv || officeDiv" class="menu">
        <p>メカニック・工場メニュー</p>
        <div class="select_mc_menu">
          <div *ngIf="mechanicDiv" class="menu_item item" (click)="serviceExhibit('1')">メカニックとしてサービスを出品する</div>
          <div *ngIf="officeDiv" class="menu_item item" (click)="serviceExhibit('2')">工場としてサービスを出品する</div>
        </div>
      </div>
    </div>
    <div *ngIf="menuLoadingDiv" class="menu_loading">
      <mat-progress-spinner class="spinner" mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</div>

<hr class="line" noshade="">

<div class="image-area">
  <img src="assets/images/img1.png" alt="image1">
</div>