
<div class="container">

  <div class="row">
    <div class="menu_item item" (click)="onTopBytton()">トップに戻る</div>
  </div>

  <div class="row">
    <div class="menu_item item" (click)="onWorkSerch()">サービスを探す</div>
  </div>

  <div class="row">
    <p class="menu_guid">ユーザーメニュー</p>
  </div>

  <div class="row">
    <div class="menu_item item" (click)="onWorkRequest()">作業を依頼する</div>
  </div>

  <div *ngIf="mechaDiv" class="row">
    <p class="menu_guid">メカニックメニュー</p>
  </div>

  <div *ngIf="mechaDiv" class="row">
    <div class="menu_item item" (click)="onWorkExhibit('1')">サービスを出品する</div>
  </div>

  <div *ngIf="factoryDiv" class="row">
    <p class="menu_guid">工場メニュー</p>
  </div>

  <div *ngIf="factoryDiv" class="row">
    <div class="menu_item item" (click)="onWorkExhibit('2')">サービスを出品する</div>
  </div>


  <div class="row">
    <div class="menu_item item" (click)="onProfileEdit()">プロフィールを編集</div>
  </div>

  <div *ngIf="mechaDiv" class="row">
    <div class="menu_item item" (click)="onMechaProfileEdit()">工場・メカニックメニューへ</div>
  </div>

</div>

